/* ===== MAIN LAYOUT ===== */
.main-grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 0.75rem;
  width: 100%;
  margin: 0 auto;
  align-items: start;
  padding: 0.2rem;
  box-sizing: border-box;
  /* background-color: red; */
  margin-top: 0.1rem;
}

.snippets-column {
  min-height: calc(100vh - 120px);
  margin-bottom: 0.5rem;
}

.form-column {
  position: sticky;
  top: 100px;
  height: fit-content;
  /* background-color: red; */
  /* padding: 0.1rem; */
}
